body {
  font-family: 'Raleway', sans-serif;
}

/*header background: #08627D*/
/*body background: #DDF4FB*/

.App {

}

.quiz-title {
  font-size: 2em;
  text-align: center;
}

.quiz-container {
  width: 90%;
  margin: auto;
}

.question-title {
  background: #08627D;
  color: white;
  margin: 0;
  padding: 15px;
}

.answers-container {
  background: #DDF4FB;

}
.answers {
  background: #DDF4FB;
  padding: 15px;
  margin: 0;
}
